
.search_1{
    display: flex;
    justify-content: space-between;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    position: relative;
    display: flex;

    border: 2px black;

}


.searchTerm {
    width: 100%;
    border: 3px solid black;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: black;
}

.href { 
    width: 40px;
    height: 36px;
    border: 1px solid black;
    background: black;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

.top_imae{
    font-size: 200%;
}


.main{
    font-size: 130%;

    margin-top: 1%;
}

.b{
    margin-left: 5%;
}

.c{
    text-align: center;
}

.c > div{
    margin-top: 1%;
}

a{
    text-decoration-line: none;
    color: black;
}